.secure-card-guideline {
  max-width: 530px;
  height: auto;
}

.card-description {
  display: flex;
  justify-content: center;
  font-family: inherit;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #41434c;
  margin-top: 32px;
  margin-inline-end: 0px;
  margin-bottom: 24px;
  margin-inline-start: 0px;
}

.secure-details {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.secure-payment {
  width: 235px;
  height: 142px;
  border: 1px solid #f3f4f6;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-inline-start: 13px;
}

.secure-payment-text {
  font-family: inherit;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: #41434c;
}

.guideline-detail {
  display: flex;
  justify-content: center;
  margin-top: 24px;
  font-family: inherit;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  color: #666666;
}

.secure-my-card {
  margin-top: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 480px) {
  .secure-my-card {
    margin-top: 250px;
  }
}

.button-text {
  border: 2px solid var(--PrimaryColor);
  font-family: inherit;
  font-weight: 700;
  font-size: 18px;
  line-height: 140%;
  text-align: center;
  color: #ffffff;
  background: var(--PrimaryColor);
  border-radius: 6px;
  width: 245px;
  height: 48px;
  cursor: pointer;
}

.may-be-later {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: inherit;
  font-weight: 700;
  font-size: 18px;
  line-height: 140%;
  text-align: center;
  color: #666666;
  margin-top: 13.5px;
  margin-bottom: 34.5px;
  cursor: pointer;
}
