@import "../../styles/main.less";

.loginWrapper {
  width: 100%;
  padding: 24px;
  max-width: 796px;
  .loginLogoDesktop,
  .loginLogoMobile {
    width: 160px;
    cursor: pointer;
    display: block;
    margin: 0 auto;
  }
  .loginLogoDesktop {
    @media @tablet {
      display: none;
    }
  }
  .loginLogoMobile {
    @media @desktop {
      display: none;
    }
  }
  .loginTitle {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    flex-wrap: nowrap;
    color: @TextHeading;
    text-align: center;
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: 72px;
    letter-spacing: 0;
    margin-top: 16px;

    @media @tablet {
      gap: 12px;
      font-size: 34px;
      line-height: 44px;
    }

    span {
      white-space: nowrap;
    }
  }
  .loginTitleLogo {
    display: block;
    flex: 0 0 auto;
    margin-top: 9px;

    @media @tablet {
      max-width: 45%;
      height: auto;
    }
  }
  .loginSubText {
    color: @TextBody;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 19.6px;
    margin-top: 8px;
  }
  .loginBtnGroup {
    margin-top: 32px;
  }
}
  /deep/ .fdk-theme-outlet {
      min-height: unset;
    }
