@import "../../../../styles/main.less";

.modalHeader {
  padding: 24px !important;
  border-radius: 8px 8px 0 0 !important;

  .modalTitle {
    font-weight: 600;
    font-size: 16px;
    line-height: 140%;

    @media @mobile {
      font-size: 14px;
    }
  }

  @media @mobile {
    padding: 16px !important;
  }
}

.modalContainer {
  width: 350px;
  overflow-wrap: break-word;

  @media @tablet {
    width: 100%;
  }

  .closeCross {
    display: flex;
    justify-content: flex-end;

    .crossIcon {
      cursor: pointer;
    }
  }

  .header {
    font-weight: 400;
    font-size: 16px;
    margin: 20px;
    color: @TextHeading;

    .flex-center();
  }

  .body {
    .form {
      display: flex;
      flex-direction: column;
      gap: 16px;
      padding: 24px;

      @media @mobile {
        padding: 0;
        gap: 0;
      }

      .formInputContainer {
        @media @mobile {
          padding: 16px;
        }

        .emailInput {
          font-size: 12px;
          border: none;
          outline: none;
          background: transparent;
        }
      }

      .btnContainer {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;

        @media @mobile {
          border-top: 1px solid @DividerStokes;
          padding: 16px;
        }
      }
    }
  }
}
