@import "../../styles/main.less";

.cardContainer {
  padding: 16px;
  display: flex;
  border-radius: 16px;
  width: 100%;
  height: 166px;
  gap: 12px;
  border: 1px solid var(--Overlay-Popup-Divider-Stroke, #e0e0e0);
  background: var(--Theme-Page-Background, #fff);

  @media @mobile {
    padding: 8px;
    gap: 8px !important;
  }

  .cardImageContainer {
    width: 107px;
    gap: 4px;
    border-radius: 12px;

    @media @mobile {
      width: 76px !important;
      height: 100% !important;
    }

    img {
      width: 107px;
      height: 100%;
      object-fit: cover;
      border-radius: 12px;

      @media @mobile {
        width: 76px;
        height: 100% !important;
      }
      &.imageCover {
        object-fit: cover;
      }
      &.imageContain {
        object-fit: contain;
      }
    }
  }

  .cardDetailWrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .cardDetailContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }

  .priceBtnSection {
    display: flex;
    flex-direction: column;
    gap: 4px;

    @media @mobile {
      gap: 8px;
    }

    h5 {
      color: @TextBody;
      font-size: 14px;
      font-weight: 600;
      letter-spacing: -0.28px;

      @media @mobile {
        font-size: 12px;
        font-weight: 400;
        letter-spacing: -0.24px;
      }
    }

    .category {
      color: @TextHeading;
      font-size: 12px;
      font-weight: 400;
      letter-spacing: -0.24px;
    }

    .priceInfo {
      display: flex;
      gap: 8px;
      align-items: center;

      @media @mobile {
        gap: 0 !important;
        align-items: normal;
        flex-direction: column;
      }

      h4 {
        color: @TextHeading;
        font-size: 16px;
        font-weight: 600;
        letter-spacing: -0.32px;
      }

      .priceContainer {
        display: flex;
        gap: 8px;
        @media @mobile {
          // flex-direction: column;
        }
      }

      .actualPrice {
        color: @TextLabel;
        font-size: 12px;
        font-weight: 400;
        letter-spacing: -0.24px;
        text-decoration-line: line-through;
      }

      .discount {
        color: var(--sale-discount-discount-color, #1c958f);
        font-size: 12px;
        font-weight: 400;
        letter-spacing: -0.24px;
      }
    }
  }

  .actionsWrapper {
    display: flex;
    justify-content: flex-start;
  }

  .addToCartBtnSection {
    height: 48px;
    width: 153px;
    padding: 12px;
    border-radius: 4px;
    border: 0.8px solid
      var(--overlay-popup-dividers-dividers-and-strokes, #d4d1d1);
    background: @ButtonSecondary;
    color: @ButtonPrimary;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: -0.28px;
    display: flex;
    align-items: center;
    justify-content: center;

    @media @mobile {
      font-size: 12px;
      font-weight: 500;
      letter-spacing: -0.24px;
      padding: 6.795px 18.12px;
      height: 32px;
      margin-top: 8px;
    }
  }
}

.shimmerWrapper {
  .cardContainer {
    padding: 16px;
    display: flex;
    border-radius: 16px;
    width: 100%;
    height: 159px;
    gap: 12px;
    border: 1px solid var(--Overlay-Popup-Divider-Stroke, #e0e0e0);
    background: var(--Theme-Page-Background, #fff);
    @media @mobile {
      gap: 8px !important;
    }
  }

  .imageShimmer {
    width: 110px !important;
    height: 100% !important;
    border-radius: 12px;

    @media @mobile {
      width: 76px !important;
    }
  }

  .lineShimmer {
    border-radius: 12px;
  }

  .firstLine {
    width: 317px !important;
    height: 16px !important;
    margin-bottom: 4px;

    @media @mobile, @tablet {
      width: 217px !important;
    }
  }

  .secondLine {
    width: 171px !important;
    height: 16px !important;
    margin-bottom: 8px;
  }

  .thirdLine {
    height: 9px !important;
    width: 90px !important;
  }

  .btnGap {
    margin-top: 42px;
  }

  .buttonShimmer {
    width: 107px !important;
    height: 28px !important;
    border-radius: 12px;
  }
}
