@import "../../styles/main.less";

.quantityCtrlContainer {
  .flex-align-center();
  justify-content: space-between;
  border: 1px solid @DividerStokes;
  border-radius: 10px;
  background: @ThemeAccentL5;
  overflow: hidden;
  padding: 12px 16px;
  box-sizing: border-box;

  &.borderRadius {
    border-radius: 4px !important;
  }

  &.notServiceable {
    opacity: 0.5;
    cursor: not-allowed;
    background: #ededed;
  }

  .quantityControl {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 1;
    min-width: 120px;
    border: none;
    background: transparent;

    .decreaseCount,
    .increaseCount {
      display: flex;
      justify-content: center;
      align-items: center;
      border: none;
      background: @ThemeAccentL2;
      border-radius: 50%;
      width: 24px;
      height: 24px;
      padding: 0;
      color: @TextHeading;
      transition: background 0.2s;
      cursor: pointer;

      &:disabled {
        opacity: 0.5;
        cursor: default;
      }

      .svgContainer {
        .flex-center();
        background: none;
        border-radius: 50%;
        width: 100%;
        height: 100%;
      }
    }

    .count {
      .flex-center();
      width: 55px;
      background: transparent;
      border: none;
      font-size: 28px;
      font-weight: 400;
      color: #2d2323;
      margin: 0 8px;
      padding: 0;

      .qtyInput {
        border: none;
        background: none;
        width: 100%;
        padding: 0;
        outline: none;

        font-size: 16px;
        font-weight: 400;
        color: @TextHeading;
        text-align: center;
        font-family: var(--font-header, "WorkSans");
        font-style: normal;
        line-height: 20px;
        letter-spacing: -0.32px;
      }
    }
  }
}

.errorMessage {
  color: @ErrorText;
  font-size: 12px;
  padding-top: 2px;
}

.loaderContainer {
  .flex-align-center();

  .sizeLoader {
    height: 20px;
    width: 20px;
  }
}
