@import "../../../../styles/main.less";

.productVariants {
  margin-top: 52px;
}

.variantTitle {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0;

  @media @tablet {
    font-size: 13px;
  }
}

.variantWrapper {
  margin-top: 0;

  @media @tablet {
    margin-top: 0;
  }
}

.variantContainer {
  display: flex;
  align-items: center;
  column-gap: 34px;
  row-gap: 16px;
  flex-wrap: wrap;
  margin-top: 22px;
  &::-webkit-scrollbar {
    display: none;
  }
  .variantItemImage,
  .variantItemColor .color {
    width: 14px;
    height: 14px;
    border-radius: 2px;
    position: relative;
    overflow: hidden;

    @media @desktop {
      width: 18px;
      height: 18px;
    }

    .overlay,
    .selectedIcon {
      display: none;
    }
    &:is(.unavailable) {
      .overlay {
        display: block;
        background: rgba(255, 255, 255, 0.7);
      }
    }
    .overlay {
      background: rgba(255, 255, 255, 0.4);
      position: absolute;
      top: 0;
      inset-inline-start: 0;
      height: 100%;
      width: 100%;
      pointer-events: none;
    }
    .selectedOverlay {
      display: none;
    }
    .selectedIcon {
      display: none;
    }
  }
  .variantItemImage {
    display: inline-block;
    cursor: pointer;
  }
  .variantItemColor {
    position: relative;
    padding-bottom: 10px;

    &.selected::after {
      content: "";
      position: absolute;
      inset-inline-start: 0;
      bottom: 0;
      width: 18px;
      height: 1px;
      background: @TextHeading;
    }

    .color {
      width: 18px;
      height: 18px;
      border: 1px solid @DividerStokes;
      box-sizing: border-box;

      &.unavailable .overlay > span {
        position: absolute;
        height: 80px;
        width: 80px;
        bottom: 0;
        border-inline-start: 1px solid @ButtonSecondary;
        transform: rotate(45deg);
        [dir="rtl"] & {
          transform: rotate(-45deg);
        }
        transform-origin: bottom left;
      }
    }
  }
  .variantItemText {
    display: inline-block;
    border-radius: 4px;
    border: 1px solid @DividerStokes;
    padding: 4px 12px;
    color: @TextHeading;
    cursor: pointer;
    position: relative;
    &:not(.unavailable):hover {
      background-color: @ThemeAccentL2;
    }
    &.selected {
      background-color: @ThemeAccent;
    }
    &.unavailable {
      color: @TextDisabled;
      span {
        position: absolute;
        .inset(0);
        background-color: @DividerStokes;
        clip-path: polygon(
          calc(100% + 1px) 0,
          100% 0,
          0 100%,
          0 calc(100% + 1px)
        );
      }
    }
  }
}
