@import "../../styles//main.less";

.updateItem {
  display: flex;

  @media @tablet {
    padding: 0 16px;
  }

  .bagImg {
    margin-top: 0;
    margin-inline-end: 20px;
    margin-bottom: 20px;
    margin-inline-start: 0;
    @media @mobile {
      margin-inline-end: 16px;
      margin-bottom: 16px;
    }
    img {
      width: 80px;
      height: 120px;
      max-width: 100px;
      max-height: 120px;
      cursor: pointer;
    }
  }
  .bagInfo {
    display: flex;
    flex-direction: column;
    width: 100%;
    @media @mobile {
      flex-direction: column;
      align-items: flex-start;
    }
    .brandName {
      margin-bottom: 5px;
    }
    .boldxxxs {
      font-weight: 700;
      font-size: 16px;
      color: @TextHeading;
      @media @mobile {
        font-size: 11px;
      }
    }
    .lightxxxs {
      font-weight: 300;
      font-size: 12px;
      color: @TextBody;
      @media @mobile {
        font-size: 11px;
      }
    }
    .sizeQuantityContainer {
      display: flex;
      width: 100%;
      // justify-content: space-between;
      background: @PageBackground;
      align-items: center;
      padding: 5px 0;
      height: 50px;
      box-sizing: border-box;
      // margin-top: 20px;
      .sizeContainer {
        background: white;
        padding: 8px;
        border: 1px solid @DividerStokes;
        font-size: 12px;
        font-weight: 600;
        color: @TextHeading;
        white-space: nowrap;

        .regular-xxs {
          font-weight: 400;
          font-size: 13px;
          @media @mobile {
            font-size: 12px;
          }
          .bold-xxs {
            font-weight: 700;
            font-size: 13px;
            @media @mobile {
              font-size: 12px;
            }
          }
        }
      }
    }
    .priceContainer {
      // margin-top: 20px;
      margin-bottom: 10px;
      font-weight: 600;
      color: @TextHeading;
      font-size: 14px;
      &.marginTopOnErrPrice {
        margin-top: 5px;
      }
    }
    .darkLg {
      font-weight: 500;
      font-size: 20px;
      @media @mobile {
        font-size: 16px;
      }
    }
    .lightxxs {
      font-weight: 300;
      font-size: 13px;
      @media @mobile {
        font-size: 12px;
      }
    }
  }
  .qtyCtrl {
    margin-inline-start: 5px;
    position: relative;
    // @media @mobile {
    //   margin-inline-start: 16px;
    // }
    .maxAvail {
      text-align: center;
      color: @ErrorText;
    }
    .regularxxxs {
      font-weight: 400;
      font-size: 12px;
      @media @tablet {
        font-size: 11px;
      }
      @media @mobile {
        font-size: 11px;
      }
    }
    /deep/.qty-control .qty-amount input {
      padding: 2px 0px;
    }
  }
}
.modifyQtyController {
  height: 32px;
  align-items: center;
  &.marginTopOnErr {
    margin-top: 14px;
  }
}
