@import "../../styles/main.less";

.breadcrumbs {
  .captionNormal();
  font-family: var(--fontBody);
  color: @TextBody;
  overflow: hidden;
  text-overflow: ellipsis;

  span,
  a {
    color: @TextBody;
  }

  .active {
    font-family: var(--fontHeader);
    color: @TextHeading;
  }
}
