@import "../../styles/main.less";

.breadcrumbs {
  .captionNormal();
  overflow: hidden;
  text-overflow: ellipsis;
  span {
    color: @TextSecondary;
    // &.active {
    //   color: @ButtonPrimary;
    // }
  }
}
