@import "../../../../styles/main.less";

.emptyContainer {
  display: flex;
  flex-direction: column;
  gap: 16px;
  min-height: 40vh;
  padding-top: 24px;
  align-items: center;
  justify-content: center;

  @media @tablet {
    gap: 12px;
    padding: 16px;
  }

  .emptyText {
    color: @TextHeading;
    font-size: 14px;
    font-weight: 600;
    line-height: 140%;
  }

  .btn {
    border-radius: @ButtonRadius;
    font-size: 12px;
    font-weight: 600;
    line-height: 140%;
    text-transform: uppercase;
    height: 40px;
    padding: 0 16px;
  }
}
