@import "../../../../styles/main.less";

.emptyContainer {
  display: flex;
  flex-direction: column;
  gap: 16px;
  min-height: 40vh;
  padding-top: 24px;
  align-items: center;
  justify-content: center;

  .description {
    display: flex;
    justify-content: center;
    max-width: 480px;
    margin-top: 8px;
    text-align: center;
    line-height: 18px;
    letter-spacing: -0.02em;
    color: @TextBody;
    font-size: 14px;
    font-weight: 400;
    @media @mobile {
      font-size: 12px;
    }
  }

  @media @tablet {
    gap: 12px;
    padding: 16px;
  }

  .emptyText {
    color: @TextHeading;
    font-size: 14px;
    font-weight: 600;
    line-height: 140%;
  }

  .btn {
    border-radius: @ButtonRadius;
    font-size: 12px;
    font-weight: 600;
    line-height: 140%;
    text-transform: uppercase;
    height: 40px;
    padding: 0 16px;
  }
}
