@import "../../styles/main.less";

.productCard {
  display: flex;
  flex-direction: column;
  height: 100%;

  .removeIcon {
    path {
      fill: @TextBody !important;
    }
  }

  &.sliderCard {
    .productDescContainer {
      flex-direction: column !important;

      .addToCart {
        width: 100% !important;
      }
    }
  }
  .imageContainer {
    position: relative;
    margin-bottom: 12px;
    overflow: hidden;
    position: relative;
    border-radius: @ImageRadius;
    -webkit-mask-image: -webkit-radial-gradient(white, black); //safari fix

    .wishlistBtn {
      display: flex;
      align-items: center;
      justify-content: center;
      fill: @ButtonPrimary;
      color: @ThemeAccentL5;
      position: absolute;

      @media @desktop {
        &:hover {
          color: @ButtonPrimary;
        }
      }

      &.active {
        color: @ButtonPrimary;
      }
    }

    .productImage {
      transition: 300ms transform cubic-bezier(0, 0, 0.2, 1);

      &.hoverImage {
        position: absolute;
        .inset(0);
        visibility: hidden;
        opacity: 0;
      }
    }
    @lg-min: 860px;
    @media @desktop {
      &:hover {
        .hoverImage + .mainImage {
          visibility: hidden;
        }
        .hoverImage,
        .mainImage {
          visibility: visible;
          opacity: 1;
          transform: scale(1.1);
        }
      }
    }
    .badge {
      position: absolute;
      min-width: 50px;
      border-radius: @BadgeRadius;
      padding: 6px 12px;
      text-align: center;
      background-color: @SaleBadgeBackground;
      color: @SaleBadgeText;
      overflow: hidden;
      max-width: 60%;

      .text {
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
      }
      &.outOfStock {
        background-color: @ThemeAccentD5;
        color: @ThemeAccentL5;
      }
      &.sale {
        background-color: @SaleBadgeBackground;
        color: @SaleBadgeText;
      }
    }
    .review {
      display: flex;
      .column-gap(4px);
      border-radius: 4px;
      padding: 4px 8px;
      background-color: @ThemeAccentL5;
      color: @ThemeAccentD5;
      position: absolute;

      ::v-deep .inline-svg svg {
        width: 14px !important;
        height: 14px !important;
      }
    }

    .extension {
      position: absolute;
    }
  }
  .productDescContainer {
    display: flex;
    justify-content: space-between;
    gap: 12px;
    flex: 1;

    @media @mobile {
      flex-direction: column;
      gap: 8px;
    }

    .productDesc {
      min-width: 0;
      .productBrand {
        margin-bottom: 4px;
        .text-line-clamp();
        color: @TextBody;
        font-size: 16px;
        font-weight: 600;
        line-height: 18px;
      }
      .productName {
        margin-bottom: 4px;
        .text-line-clamp();
        color: @TextHeading;

        &.centerAlign {
          text-align: center;
        }
      }
      .productPrice {
        display: flex;
        flex-wrap: wrap;
        align-items: baseline;
        &--textCenter {
          text-align: center;
        }
        &.center {
          justify-content: center;
        }

        &--sale {
          margin-inline-end: 8px;
        }
        &--regular {
          text-decoration: line-through;
          color: @TextLabel;
          margin-inline-end: 4px;
          font-size: 12px;
          line-height: 14px;
        }
        &--discount {
          color: @SaleDiscountText;
        }
      }
      .productVariants {
        margin-top: 8px;

        .flex-align-center();
        gap: 8px;
        .shade {
          .flex-align-center();
          padding: 4px 8px;
          background-color: @ThemeAccentL5;
          border: 1px solid @DividerStokes;
          border-radius: 40px;
          .shadeColor {
            width: 12px;
            height: 12px;
            border: 1px solid @DividerStokes;
            border-radius: 50%;
          }
          .shadeName,
          .shadeCount {
            margin-inline-start: 4px;
            font-size: 12px;
            line-height: 14px;
            color: @TextBody;
            text-transform: capitalize;
          }
        }
        .allShades {
          .variantContainer {
            display: flex;
            isolation: isolate;
            .shadeColor:not(:first-child) {
              margin-inline-start: -4px;
              z-index: -1;
            }
            .shadeColor:last-child {
              z-index: -2;
            }
          }
        }
      }
    }

    .addToCart {
      background: @ButtonSecondary;
      font-weight: 500;
      line-height: 16px;
      letter-spacing: -0.24px;
      text-transform: uppercase;
      padding: 12px 16px;
      height: 40px;
      font-size: 12px;
      white-space: nowrap;
    }
  }
  @media @mobile {
    &.mob-grid-1-card {
      .imageContainer {
        .wishlistBtn {
          top: 16px;
          inset-inline-end: 16px;
        }
        .badge {
          inset-inline-start: 16px;
          top: 16px;
        }
        .review {
          inset-inline-end: 16px;
          bottom: 16px;
        }
        .extension {
          inset-inline-start: 16px;
          bottom: 16px;
        }
      }
    }
    &.mob-grid-2-card {
      .productDescContainer {
        .productDesc {
          .productBrand {
            margin-bottom: 0px;
          }
          .productName {
            margin-bottom: 7px;
          }
          .productPrice {
            .productPrice--discount {
              flex: 0 0 100%;
            }
          }
        }

        .addToCart {
          width: 100%;
        }
      }
      .imageContainer {
        .wishlistBtn {
          top: 8px;
          inset-inline-end: 8px;
        }
        .badge {
          inset-inline-start: 8px;
          top: 8px;
        }
        .review {
          inset-inline-end: 8px;
          bottom: 8px;
        }
        .extension {
          inset-inline-start: 8px;
          bottom: 8px;
        }
      }
    }
  }
  @media @mobile-up {
    &.tablet-grid-2-card {
      .addToCart {
        width: 104px;
      }

      .imageContainer {
        .wishlistBtn {
          top: 24px;
          inset-inline-end: 24px;
        }
        .badge {
          inset-inline-start: 24px;
          top: 29px;
        }
        .review {
          inset-inline-end: 24px;
          bottom: 24px;
        }
        .extension {
          inset-inline-start: 24px;
          bottom: 24px;
        }
      }
      .productDesc {
        .productName {
          margin-bottom: 9px;
        }
      }
    }
    &.tablet-grid-3-card {
      .addToCart {
        width: 104px;
      }

      .imageContainer {
        .wishlistBtn {
          top: 12px;
          inset-inline-end: 12px;
        }
        .badge {
          inset-inline-start: 12px;
          top: 17px;
        }
        .review {
          inset-inline-end: 12px;
          bottom: 12px;
        }
        .extension {
          inset-inline-start: 12px;
          bottom: 12px;
        }
      }
      .productDesc {
        .product-name {
          margin-bottom: 5px;
        }
      }
    }
  }
  @media @desktop {
    &.desktop-grid-2-card {
      .addToCart {
        width: 144px;
      }
      .imageContainer {
        .wishlistBtn {
          top: 24px;
          inset-inline-end: 24px;
        }
        .badge {
          inset-inline-start: 24px;
          top: 24px;
        }
        .review {
          inset-inline-end: 24px;
          bottom: 24px;
        }
        .extension {
          inset-inline-start: 24px;
          bottom: 24px;
        }
      }
      .productDesc {
        .productName {
          margin-bottom: 9px;
        }
      }
    }
    &.desktop-grid-4-card {
      .productDescContainer {
        flex-direction: column;

        .addToCart {
          width: 100%;
        }

        .productDesc {
          .productName {
            margin-bottom: 5px;
          }
        }
      }

      .imageContainer {
        .wishlistBtn {
          top: 12px;
          inset-inline-end: 12px;
        }
        .badge {
          inset-inline-start: 12px;
          top: 12px;
        }
        .review {
          inset-inline-end: 12px;
          bottom: 12px;
        }
        .extension {
          inset-inline-start: 12px;
          bottom: 12px;
        }
      }
    }
  }
  .captionNormal();
}

// .animate {
//   animation: 0.5s ease-in var(--delay, 0ms) fadeSlide;
//   animation-fill-mode: both;
// }

// @keyframes fadeSlide {
//   0% {
//     opacity: 0;
//     transform: translateY(10px);
//   }

//   to {
//     opacity: 1;
//     transform: translateY(0);
//   }
// }
// .textCenter {
//   text-align: center;
// }
