@import "../../styles/main.less";

.compare {
  &__breadcrumbs {
    span {
      color: @TextDisabled;

      &.active {
        color: @ButtonPrimary;
      }
    }
    margin-bottom: 24px;
  }
  &__title {
    text-align: center;
    margin-bottom: 16px;
  }
  .compareContainer {
    width: 100%;
    overflow-x: auto;
    .productList {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      gap: 2%;
      @media @mobile {
        gap: 8px;
      }
      .product {
        position: relative;
        box-sizing: border-box;
        @media @mobile {
          width: 140px;
          flex: 0 0 140px;
        }
        .crossBtn {
          cursor: pointer;
          position: absolute;
          z-index: 1;
          right: 16px;
          top: 16px;

          @media @tablet {
            right: 12px;
            top: 12px;
          }

          svg {
            width: 24px;
            height: 24px;
            fill: @TextBody;

            @media @tablet {
              width: 20px;
              height: 20px;
            }
          }
        }
      }
      .emptyStateCont {
        position: relative;
        text-align: center;
        height: auto;
        cursor: pointer;
        min-height: 300px;
        @media @tablet {
          min-height: 220px;
        }
        @media @mobile {
          flex: 0 0 140px;
          width: 140px;
          min-height: 228px;
        }

        .emptyBox {
          border-radius: @ImageRadius;
          padding: 12px 32px;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          height: 100%;
          align-self: stretch;
          border: 0.8px solid @ButtonPrimaryL3;
          -webkit-justify-content: center;
          -webkit-align-items: center;

          color: @ButtonPrimaryL3;
          text-align: center;
          font-size: 20px;
          font-weight: 600;
          line-height: normal;
          letter-spacing: -0.4px;
          text-transform: capitalize;

          @media @tablet {
            font-size: 16px;
            font-weight: 600;
            letter-spacing: -0.32px;
          }

          & > svg {
            width: 56px;
            height: 56px;
            fill: @TextBody;

            @media @tablet {
              width: 48px;
              height: 48px;
            }
          }
        }
      }
    }

    .attributeList {
      font-size: 14px;
      margin-top: 48px;
      color: @TextBody;
      @media @tablet {
        margin-top: 16px;
      }
      @media @mobile {
        margin-top: 24px;
      }

      .attrListWrap {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        @media @mobile {
          display: flex;
        }
      }
      .compareTitle {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
      }
      .compareTitle > div {
        grid-column: span var(--cell-width);
        background-color: @ThemeAccentL2;
        padding: 16px;
        line-height: 20px;
        font-weight: 700;
        align-self: stretch;
        @media @mobile {
          flex: 0 0 149px;
          min-width: calc(149px * var(--cell-width));
        }
      }
      .attrName {
        line-height: 20px;
        font-weight: 700;
        align-self: stretch;

        border-bottom: 1px solid @DividerStokes;
        background-color: @ThemeAccentL2;
        @media @mobile {
          flex: 0 0 149px;
        }
      }
      .attrDescName {
        background-color: @ThemeAccentL3;
        border-bottom: 1px solid var(--dividerStokes, #d4d1d1);
        @media @mobile {
          background: inherit;
          flex: 0 0 140px;
          background-color: @ThemeAccentL3;
        }
        span {
          word-wrap: break-word;
          line-height: 20px;
          @media @tablet {
            max-width: 150px;
          }
          @media @mobile {
            max-width: 100px;
          }
        }
        &:last-child {
          border-right: 0;
        }
      }
      .alignAttribute {
        padding: 16px;
        text-align: left;
        @media @mobile {
          min-width: 149px;
          min-height: 53px;
          display: flex;
          align-items: center;
        }
      }
    }
    .errorMessage {
      font-size: 14px;
      padding: 16px 0;
      color: @TextBody;
    }
  }
  .compareContainer::-webkit-scrollbar {
    display: none;
  }

  .addSearchContainer {
    position: sticky;
    top: 60px;
    align-self: flex-start;
    width: 100%;
    display: none;
    display: block;
    z-index: 1;

    .searchBox {
      .crossBtn {
        top: 10px;
        right: 10px;
        cursor: pointer;
        svg {
          width: 16px;
          height: 16px;
          fill: @TextHeading;
        }
      }
      .searchBlock {
        padding: 24px;
        background-color: @ThemeAccentL4;

        @media @tablet {
          padding: 24px 16px;
        }
        .searchHeader {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding-bottom: 10px;
          .addSearchTitle {
            color: @TextHeading;
            font-size: 28px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            letter-spacing: -0.56px;
            @media @mobile {
              font-size: 16px;
              font-weight: 600;
              letter-spacing: -0.32px;
            }
          }
          .crossBtn {
            top: 10px;
            right: 10px;

            svg {
              width: 16px;
              fill: @TextHeading;
            }
          }
        }
        .searchContainer {
          display: flex;
          align-items: center;
          padding: 14px 12px;
          border-radius: 4px;
          border: 1px solid @HeaderNav;
          background: @ThemeAccentL5;
          .inputBox {
            background-color: @ThemeAccentL5;
            width: 100%;
            box-sizing: border-box;
            border: none;
            padding: none;
            color: @HeaderNav;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 18px;
            letter-spacing: -0.28px;
          }
          .searchIcon {
            position: relative;
            width: 20px;
            height: 20px;
          }
        }
        .compareItems {
          padding: 8px 16px 16px;
          padding-right: 0;
          background: #fff;
          border-radius: 4px;
          border: 1px solid #d4d1d1;
          box-shadow:
            0px 8px 24px -4px rgba(78, 63, 9, 0.08),
            0px 4px 4px 0px rgba(78, 63, 9, 0.08);
          margin-top: 10px;

          @media @tablet {
            padding: 16px 8px;
          }
        }
      }
      .popularhdng {
        font-size: 20px;
        padding: 10px 0;
        font-weight: 700;
        color: @TextHeading;
        font-weight: 600;
        line-height: normal;
        letter-spacing: -0.4px;
        text-transform: capitalize;

        @media @tablet {
          font-size: 14px;
          letter-spacing: -0.28px;
          padding: 0;
        }
      }
      .landingBestsellerHandest {
        .whiteSmallRBox {
          width: 100%;
          background: @ThemeAccentL4;
          cursor: pointer;
          margin: 0 auto;
          padding: 12px 0 12px 10px;
          position: relative;
          margin-top: 8px;

          @media @tablet {
            padding: 0;
          }
        }
        .media {
          margin-top: 15px;
          display: flex;
          align-items: center;
          color: @TextBody;
          font-size: 16px;
          font-weight: 400;
          line-height: 20px;
          letter-spacing: -0.32px;
          &:first-child {
            margin-top: 0;
          }
          .mediaLeft {
            flex: 0 0 56px;
            height: 56px;
            margin-right: 12px;
            img {
              width: 55px;
            }
          }
          .mediaLeftName {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }
        }
      }
      .searchResults {
        position: relative;
        max-height: 400px;
        padding-right: 16px;

        @media @mobile {
          max-height: 300px;
          padding-right: 8px;
        }
        overflow: auto;

        scrollbar-width: unset !important;

        &::-webkit-scrollbar {
          width: 5px;
        }

        &::-webkit-scrollbar-track {
          background-color: transparent;
        }

        &::-webkit-scrollbar-thumb {
          border-radius: 100px;
          background-color: #7d7676;
        }
      }

      .loading {
        color: @TextBody;
        line-height: normal;
        padding: 16px;
        margin-top: 12px;
        font-size: 16px;
        letter-spacing: -0.32px;

        @media @tablet {
          padding: 8px;
          font-size: 12px;
          line-height: 16px;
          letter-spacing: -0.24px;
          margin-top: 8px;
        }
      }

      .notFound {
        color: @TextBody;
        line-height: normal;
        padding: 16px;
        background: @ThemeAccentL4;
        margin-top: 12px;
        font-size: 16px;
        font-weight: 600;
        letter-spacing: -0.32px;

        @media @tablet {
          padding: 8px;
          font-size: 12px;
          font-weight: 400;
          line-height: 16px;
          letter-spacing: -0.24px;
          margin-top: 8px;
        }
      }
    }
  }
  .captionNormal();
}
