@import "../../styles/main.less";

.moqWrapper {
  margin: 16px 0px;

  .moqSection {
    padding: 6px;
    background-color: @ThemeAccentL2;
    display: inline-flex;
    align-items: center;
    gap: 6px;
    border-radius: 4px;
    font-size: 14px;
    color: @TextLabel;

    .moqValue {
      font-weight: 500;
      color: @TextHeading;
    }
  }
}
