@import "../../styles/main.less";

.bagItem {
  input {
    display: none;
  }

  .radiobtn {
    display: flex;
    // align-items: center;
    svg {
      width: 24px;
    }
  }

  .bagImg {
    display: flex;

    img {
      width: 80px;
      object-fit: cover;
      cursor: pointer;
      @media @mobile {
        height: 100px;
      }
    }
  }

  .label {
    display: flex;
    gap: 16px;
  }

  .bagInfo {
    .regularxxs {
      font-weight: 400;
      font-size: 13px;
      @media @mobile {
        font-size: 12px;
      }
    }
    .boldxxs {
      font-weight: 700;
      font-size: 13px;

      @media @mobile {
        font-size: 12px;
      }
    }
    .lightxxs {
      font-weight: 300;
      font-size: 13px;
      @media @tablet {
        font-size: 12px;
      }
      @media @mobile {
        font-size: 12px;
      }
    }
    .brand {
      color: @TextHeading;
      font-size: 16px;
      font-weight: 600;
      line-height: 140%;
      @media @mobile {
        font-size: 14px;
      }
    }

    .company,
    .seller {
      margin-bottom: 10px;
    }

    .chip {
      display: inline-block;
      margin: 4px 0px;

      .itemSize {
        color: @TextHeading;
        font-size: 14px;
        font-weight: 600;
        line-height: 140%;
      }

      .itemSeparator {
        color: @DividerStokes;
        font-size: 14px;
      }
      .itemQty {
        color: @TextLabel;
        font-size: 14px;
        font-weight: 400;
        line-height: 140%;
      }
    }

    .margin {
      color: @ErrorText;
      margin-left: 10px;
    }

    .total {
      display: flex;
      margin-top: 10px;

      .amt {
        color: @Mako;
        margin-right: 10px;
      }

      .delivery-at {
        margin-left: 5px;
      }
    }

    .effectivePrice {
      color: @TextHeading;
      font-size: 14px;
      font-weight: 600;
      line-height: 140%;
    }
  }
}
.regularRadio {
  g > circle {
    stroke: @TextHeading;
  }
}
.returnRadioSelected {
  :first-child {
    stroke: @ButtonPrimary;
  }
  :last-child {
    fill: @ButtonPrimary;
  }
}
