@import "../../styles//main.less";

.customClass {
  display: flex;
  flex: 0 0 48%;
  flex-direction: column;
  position: relative;

  &.singleField {
    flex: 0 0 100%;
  }
}

.mobileLabel {
  transform: none;
  line-height: 21px !important;
  position: static;
  padding: 0;
  margin: 0;
  background: unset;
  color: @TextLabel !important;
}

.telInput {
  background-color: transparent;
}
