@import "../../../styles/main.less";

.orderTrackingDetails {
  padding: 16px 0;

  @media @desktop {
    padding: 40px;
  }

  .trackOrder {
    padding: 24px 0;
    display: flex;
    gap: 16px;

    @media @tablet {
      padding: 16px;
    }
    @media @mobile {
      flex-direction: column;
      width: 100%;
      gap: 12px;
      align-items: stretch;
    }

    .orderIdInput {
      text-transform: uppercase;
      font-size: 12px;
      width: 350px;

      @media @mobile {
        width: 100%;
      }
    }

    .btn {
      font-size: 12px;

      @media @mobile {
        width: 100%;
      }

      &:focus {
        box-shadow: none;
      }
    }
  }

  .error {
    background-color: @PageBackground;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    justify-content: center;
    height: 100%;
    .bold {
      font-size: 32px;
      line-height: 42px;
      margin: 0 0 32px;
      font-weight: 700;
      letter-spacing: -0.02em;
      color: @TextHeading;
    }
  }

  .updateDisable {
    opacity: 0.4;
    pointer-events: none;
    cursor: not-allowed;
  }
  .orderShipments {
    display: flex;
    background-color: @PageBackground;
    gap: 24px;

    .orderShipmentsWrapper {
      width: 100%;

      @media @tablet {
        padding: 0 16px;
      }
    }

    @media @tablet {
      flex-direction: column;
    }
    .shipment {
      border-radius: 4px;
      background-color: @PageBackground;
      margin: 16px 0;
      border: 1px solid @DividerStokes;

      @media @tablet {
        border: none;
        margin: 16px;

        &.noPadding {
          margin: 16px 0;
          border: 1px solid @DividerStokes;
          border-width: 1px 0;
          border-radius: 0;
        }
      }
    }
    .shipmentDetails {
      padding: 0 24px;
      border-left: 1px solid @DividerStokes;
      min-width: 352px;

      @media @tablet {
        width: 100%;
        padding: 0;
        min-width: unset;
        border-left: none;
      }
    }

    .shipmentBagItem {
      width: 100%;
      display: flex;
      flex-direction: column;
      position: relative;
      margin: 16px 0;
      gap: 16px;

      @media @tablet {
        padding: 0 16px;
      }
    }
    .view {
      text-align: center;
      padding-right: 30px;
      padding-top: 5px;
      cursor: pointer;
    }
  }
}
