@import "../../styles/main.less";

.title {
  color: @Mako;
  margin-bottom: 16px;
  @media @mobile, @tablet {
    margin-bottom: 8px;
  }
}

.shipmentBreakupContainerPadding {
  padding: 16px !important;
}

.lightsm {
  font-weight: 300;
  font-size: 16px;
  @media @tablet {
    font-size: 14px;
  }
  @media @mobile {
    font-size: 14px;
  }
}
.boldsm {
  font-weight: 700;
  font-size: 16px;
  @media @tablet {
    font-size: 14px;
    font-weight: 600;
  }
  @media @mobile {
    font-size: 14px;
  }
}
.billing {
  div {
    margin-bottom: 12px;
    @media @mobile, @tablet {
      margin-bottom: 8px;
    }

    &:last-child {
      margin-bottom: 0px;
    }
  }

  .label {
    color: @TextBody;
    font-size: 14px;
    font-weight: 400;
    line-height: 140%;

    @media @mobile, @tablet {
      font-size: 12px !important;
    }
  }

  .values {
    color: @TextBody;
    font-size: 14px;
    font-weight: 400;
    line-height: 140%;
    @media @mobile, @tablet {
      font-size: 12px !important;
    }
  }

  .total {
    padding-top: 10px;
    border-top: 1px solid @LightGray;
    font-weight: bold;
    color: @Mako;
  }

  .totalValContainer {
    display: flex;
    justify-content: space-between;

    .label,
    .values {
      font-size: 14px;
      font-weight: 400;
      @media @mobile, @tablet {
        font-size: 12px !important;
      }
    }
  }
}

.paymentDetails {
  display: flex;
  align-items: center;
  .paymentLogo {
    margin: 0px !important;
    img {
      width: 50px;
    }
  }
  .rightAlign {
    position: relative;
    margin-inline-start: auto;
    margin-inline-end: 10px;
    inset-inline-end: 0px;
  }
}

.grandTotal {
  font-size: 16px;
  font-weight: 700;

  @media @tablet, @mobile {
    font-size: 14px;
    font-weight: 600;
  }
}

.horizontalLine {
  margin: 16px 0 !important;
  height: 1px;
  background: @DividerStokes;
  @media @mobile {
    margin: 8px 0 !important;
  }
  @media @tablet {
    margin: 8px 0 !important;
  }
}

.grandTotal {
  font-size: 16px !important;
  font-weight: 700 !important;

  @media @tablet, @mobile {
    font-size: 14px !important;
    font-weight: 600 !important;
  }
}

.noPadding {
  padding: 0 !important;
}
