.deleteAccountBtn {
  width: 100%;
  margin-bottom: 5px;
  margin-top: 20px;
}

.deleteAccountTxt {
  text-align: center;
  font-weight: 700;
  font-size: 17px;
}

.deleteAccountDesc {
  text-align: center;
  margin-top: 20px;
  font-size: 15px;
}

.supportEmail {
  text-align: center;
  color: #007aff;
  margin-top: 10px;
}
