@import "../../../styles/main.less";

.deleteAccountBtn {
  margin-top: 32px;
  display: flex;
  justify-content: center;
}

.deleteAccountTxt {
  color: @TextHeading;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -1.08px;
  margin-bottom: 12px;

  @media @tablet {
    font-size: 32px;
    letter-spacing: -0.96px;
  }

  @media @mobile {
    margin-bottom: 16px;
  }
}

.deleteAccountDesc {
  color: @TextBody;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.32px;
  margin-bottom: 12px;

  @media @tablet {
    font-size: 12px;
    line-height: 16px;
    letter-spacing: -0.24px;
  }

  @media @mobile {
    margin-bottom: 16px;
  }
}

.supportEmail {
  color: @ButtonLink;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.24px;

  @media @tablet {
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
  }
}
