.rangeContainer {
  display: flex;
  width: 100%;
  flex-direction: column;
  .rangeTitleContainer {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    div {
      flex-basis: 35%;
      display: flex;
      justify-content: start;
      align-items: center;
      font-size: 14px;
      line-height: 14px;
      margin-bottom: 8px;
      color: var(--textBody);
      font-weight: 500;
    }
  }
  .rangeInputContainer {
    display: flex;
    justify-content: space-between;
    div {
      flex-basis: 35%;
      display: flex;
      justify-content: start;
      align-items: center;
      font-size: 14px;
      line-height: 14px;
      margin-bottom: 8px;
      color: var(--textBody);
      font-weight: 500;
      gap: 0.5rem;
      .currencySymbol {
        font-size: 14px;
        color: var(--textSecondary);
        line-height: 14px;
        font-weight: 500;
      }
      input {
        min-width: 76px;
        max-width: 100px;
        padding: 6px 0px;
        border: 1px solid var(--dividerStokes);
        color: var(--textBody);
        text-align: center;
        background: transparent;
      }
    }
  }
}
