@import "../../../../styles/main.less";

.addPhoneContainer {
  overflow: visible;

  .header {
    padding: 24px;
    border-radius: 8px 8px 0 0;
    font-weight: 600;
    font-size: 16px;
    line-height: 140%;

    .modalTitle {
      font-weight: 600;
      font-size: 16px;
      line-height: 140%;

      @media @mobile {
        font-size: 14px;
      }
    }

    @media @mobile {
      padding: 16px;
    }
  }

  .addPhoneBody {
    overflow: inherit;
  }
}

.phoneInputText {
  height: 40px !important;
  color: @TextHeading !important;
}

.errorText {
  color: @ErrorText;
  display: inline-block;
  font-size: 12px;
  margin-top: 3px;
  @media @tablet {
    font-size: 11px;
  }
}

.loginInputGroup {
  margin-top: 16px;

  .resendOtp {
    margin-top: 3px;
    cursor: not-allowed;
    pointer-events: none;

    &:focus {
      box-shadow: none;
    }

    &.showResendButton {
      cursor: pointer;
      pointer-events: unset;
    }
  }

  .addMobileOtp {
    font-size: 12px;
    outline: none;
    border: none;
    background: transparent;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
    }

    &:focus,
    &:focus-visible {
      outline: none;
    }
  }
}

.modalContainer {
  min-width: 350px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 16px;

  @media @mobile {
    padding: 0;
    width: 100%;
    min-width: unset;
    gap: 0;
  }
  -webkit-font-smoothing: antialiased;

  .body {
    @media @mobile {
      padding: 16px;
      width: 100%;
    }
  }

  .btnContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

    @media @mobile {
      border-top: 1px solid @DividerStokes;
      padding: 16px;
    }

    .yesBtn {
      height: 48px;
      padding: 20px 24px;
      font-size: 14px;
      font-weight: 600;
      line-height: 140%;
      text-transform: uppercase;
    }
  }
}
