@import "../../../../styles/main.less";

.itemImg {
  width: 100%;
  border-radius: @ButtonRadius;
  overflow: hidden;
}

.bundleChipImages {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 4px;
  gap: 4px;
  border: 1px solid @DividerStokes;
  border-radius: @ButtonRadius;
  .itemImg {
    border-radius: calc(@ButtonRadius / 2);
    display: flex;
  }
}
