@import "../../styles//main.less";

.title {
  color: @TextHeading;
  font-size: 14px;
  font-weight: 600;
  line-height: 140%;
  margin-bottom: 8px;
}
.lightsm {
  color: @TextHeading;
  font-size: 12px;
  font-weight: 600;
  line-height: 140%;
  margin-bottom: 4px;
}
.boldsm {
  font-weight: 700;
  font-size: 16px;
  @media @tablet {
    font-size: 14px;
  }
  @media @mobile {
    font-size: 14px;
    line-height: 14px;
  }
}
.address {
  padding: 16px;

  .displayAddress {
    white-space: pre-wrap;
    color: @TextBody;
    font-size: 12px;
    font-weight: 400;
    line-height: 140%;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}
