@import "../../../styles/main.less";

.inputGroupContainer {
  display: flex;
  flex-direction: column;
  gap: 4px;
  position: relative;

  .error {
    color: @ErrorText;
    font-weight: 300;
    font-size: 12px;
  }
}

.label {
  color: @TextLabel;
  font-size: 13px;
}

.fyInput {
  accent-color: @ButtonPrimary;
  height: 16px;
  aspect-ratio: 1;
}

.fyInputGroup {
  display: flex;
  align-items: center;
  gap: 12px;
}

.inputContainer {
  display: flex;
  align-items: center;
  gap: 4px;
  white-space: nowrap;
  cursor: pointer;
}

.inputLabel {
  font-size: 16px;
  color: @TextHeading;
}
