.singleFilterContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 1rem 0.5rem;
  cursor: pointer;
  max-height: 400px;
  overflow: scroll;
  &::-webkit-scrollbar {
    display: none;
  }
  .filterInformationContainer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .filterHeading {
      color: var(--textHeading);
      font-size: 16px;
      line-height: 18px;
      letter-spacing: 0.02em;
      font-weight: 500;
    }
    .filterSvg {
      height: 24px;
      width: 24px;
      fill: var(--textHeading);
      transition: all 0.25s ease;
    }
  }
  .filterValueContainer {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 0.4rem;
    padding: 0.5rem 0rem;
    stroke: none;
    .svgStrokeContainer {
      width: 26px;
      height: 26px;
      &:hover {
        &.notSelected {
          stroke: var(--buttonPrimary);
        }
      }
    }
    .notSelected {
      stroke: var(--dividerStokes);
    }
    .filterValueName {
      color: var(--textBody);
      font-size: 14px;
      letter-spacing: 0.02em;
      font-weight: 500;
    }
    .filterValueCount {
      color: var(--textSecondary);
      font-size: 12px;
      letter-spacing: 0.02em;
      font-weight: 400;
    }
  }
}
