@import "../../styles/main.less";

.faq {
  min-height: 50vh;
  padding: 16px 16px 80px;
  @media @mobile-up {
    padding: 16px 40px 80px;
  }
  .hideOnDesktop {
      @media @mobile-up {
        display: none !important;
      }
  }

  .fullWidth{
    width:100vw !important
  }
 
  .faq-container {
    display: flex;
    width: 100%;
    padding: 32px 0px;
    @media @mobile {
      padding: 0px;
    }
    gap: 64px;
  }
  .heading {
    display: flex;
    padding-top: 16px;
    color: @TextHeading;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    @media @mobile {
      border-bottom: 1px solid @DividerStokes;
      padding: 16px 0;
      h3 {
        font-size: 16px;
      }
    }
    & .back-head {
      & svg {
        display: none;
        @media @mobile {
          display: block;
          path {
            fill: @TextHeading;
          }
        }
      }
      display: flex;
      align-items: center;
      gap: 8px;
      min-width: 0;
    }
    & .contact-us {
      @media @mobile {
        display: none;
      }
      display: flex;
      align-items: center;
      gap: 8px;
      & button {
        display: flex;
        padding: 12px 20px;
        justify-content: center;
        align-items: center;
        border: 1px solid @TextHeading;
        border-radius: @ButtonRadius;
        color: @ButtonPrimary;
        gap: 4px;
      }
    }
  }

  .content {
    flex: 1;
    word-break: break-all;
    min-height: unset !important;
  }

  .content h4 {
    margin-top: 0;
  }

  .content .top-queries {
    padding-bottom: 16px;
    border-bottom: 1px solid @DividerStokes;
  }

  .content .top-queries h4 {
    margin: 0;
  }

  .content .faq-list ul {
    list-style-type: none;
    padding: 0;
  }

  .content .faq-list li {
    padding: 16px 0;
    border-bottom: 1px solid @DividerStokes;
  }

  .sidebar {
    min-width: 322px;
    padding: 16px;
    div:last-child {
      border: none;
    }

    @media @mobile-up {
      position: sticky;
      height: fit-content;
      top: var(--headerHeight);
    }

    @media @mobile {
      width: 100%;
      min-width: unset;
      padding: 0;
    }

    & .arrowRight {
      path {
        fill: @TextHeading;
      }
    }

    & .star {
      width: 16px;

      & path {
        stroke: @TextHeading;
        fill: @TextHeading;
      }
    }
  }

  .sidebar ul {
    list-style-type: none;
    padding: 0;
  }

  .sidebar div {
    overflow: hidden;
    cursor: pointer;
    padding: 16px 0px;
    align-items: center;
    display: flex;
    border-bottom: 1px solid @DividerStokes;
    gap: 8px;
    svg > path {
      fill: @TextHeading;
    }
    & li {
      width: 100%;
      color: @TextHeading;
      font-size: 14px;
      font-style: normal;
      font-weight: 600;
      line-height: 140%;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }
  .sidebar div.active {
    @media @mobile-up {
      transition: 0.5s;
      & li {
        color: @ButtonPrimary;
        transition: 1.5s;
      }
      & .star {
        & path {
          stroke: @ButtonPrimary;
          fill: @ButtonPrimary;
        }
        transition: stroke 1.5s;
      }
      & .arrowRight {
        path {
          fill: @ButtonPrimary;
        }
      }
    }
  }
  .contentContainer {
    width: 67.7vw;
    @media @mobile {
      width: 100%;
    }
  }
  .hide-on-mobile {
    display: block;

    @media @mobile {
      display: none;
    }
  }

  .show-on-mobile {
    display: none;

    @media @mobile {
      display: block;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
  }

  li:hover {
    cursor: pointer;
  }
  .faq-item {
    border-bottom: 1px solid @DividerStokes;
    .quesContainer {
      display: flex;
      justify-content: center;
      gap: 40px;
      & svg {
        overflow: visible;
      }
      .qa-box {
        width: 100%;
        .question {
          color: @TextHeading;
          font-size: 14px;
          font-style: normal;
          font-weight: 600;
          line-height: 140%;
          width: 100%;
        }
        .answer {
          display: block;
          color: @TextHeading;
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: 140%;
          margin-top: 12px;
        }
      }
    }
  }
}
.emptyState {
  min-height: unset !important;
}
.spinner {
  align-items: center;
  height: 75vh;
  @media @mobile {
    height: unset;
  }
}
